* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    background-color: #F8F8FF;
}

nav {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
    padding: 12px 14px;
    display: flex;
    gap: 20px;
    z-index: 100;
    background: #0b00e0;
    background: linear-gradient(90deg, rgba(11, 0, 224, 1) 0%, rgba(0, 0, 201, 1) 16%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(54, 54, 54, 0.1);
}

nav a:hover{
    box-shadow: 5px 5px 7px rgba(54, 54, 54, 0.2);
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 21px;
}

.navigace{
    width: 50%;
}

.prihlaseni{
    width: 50%;
    float: right;
    text-align: right;
}

.prihlaseni a{
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

.navigace a{
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

h1{
    text-align: center;
    padding: 5px 5px;
}

footer{
    text-align: center;
}